<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Paloquiz</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css' )}}">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/fonts/phatone/font.css' )}}"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/fonts/nokia_cellphone/font.css' )}}">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/fonts/pixel/font.css' )}}"> -->
        <script src="{{ url_for('static', filename='js/util.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/fb.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/phaser.min.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/game.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/start.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/main.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/highscores.js' )}}"></script>
    </head>
    <body>

        <script>
            var FB_APP_ID = '{{ FB_APP_ID }}';


            // Force HTTPS
            if (window.location.protocol != "https:" &&
                window.location.hostname != "localhost" &&
                window.location.hostname != "127.0.0.1")
            {
                var site = window.location.href.substring(window.location.protocol.length);
                window.location.href = "https:" + site;
            }

            window.fbAsyncInit = function() {
                FB.init({
                    appId      : FB_APP_ID,
                    xfbml      : true,
                    version    : 'v2.5'
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div id="gameContainer">
            
        </div>

    </body>
</html>
